#custom {
  text-align: center;
}
#final {
  text-align: center;
}
.well {
  background-color: rgba(255, 25, 16, 0.6);
  margin-bottom: 1%;
  border: solid;
  border-color: black;
}
#header {
  margin-top: 2%;
  margin-bottom: 0%;
}
table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#bottom {
  margin-top: 1%;
}
body {
  background-color: rgba(110,115,111,.5);
}
