#custom {
  text-align: center;
}
#final {
  text-align: center;
}
.well {
  background-color: rgba(255, 25, 16, 0.5);
}
.container {
  margin-top: 2%;
}
td {
  text-align: center;
  margin-left: 5%;
}
